@page "{id:int}"
@model Pr2Cruds.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tarea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tarea.Id" />

            <div class="form-group">
                <label asp-for="Tarea.Nombre" class="control-label"></label>
                <input asp-for="Tarea.Nombre" class="form-control" />
                <span asp-validation-for="Tarea.Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tarea.FechaVencimiento" class="control-label"></label>
                <input asp-for="Tarea.FechaVencimiento" type="date" class="form-control" />
                <span asp-validation-for="Tarea.FechaVencimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tarea.Estado" class="control-label"></label>
                <input asp-for="Tarea.Estado" class="form-control" />
                <span asp-validation-for="Tarea.Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tarea.IdUsuario" class="control-label"></label>
                <input asp-for="Tarea.IdUsuario" class="form-control" />
                <span asp-validation-for="Tarea.IdUsuario" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-secondary ms-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
